
body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.main-container {
    position: relative;
    margin: 0 auto;
    width: 768px;
}

.k-g-activity-container {
}

.inner-content {
    padding-top: 150px;
}

.sliders-container {
    background-color: whitesmoke;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

.sliders {
    list-style-type: none;
}

.slide {
    display: block;
    float: left;
    width: 20px;
    height: 400px;
}

.intro {
    background-color: #F00;
}

.activity {
    background-color: #0F0;
}

.outro {
    background-color: #00F;
}