
@font-face {
    font-family: curious;
    src: url('../assets/fonts/CuriousSans-Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.main-container {
    position: relative;
    margin: 0 auto;
    width: 768px;
}

.background-image {
    margin-left: -128px;
}

.inner-content {
    padding-top: 115px;
    padding-left: 15px;
    position: absolute;
    top: 0;
}

.sliders-container {
    background-image: url("../assets/sliding_rats/20_card1.png");
    width: 736px;
    height: 422px;
    margin: 0 auto;
}

.sliders {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slide {
    position: relative;
    float: right;
    height: 422px;
    overflow: hidden;
    width: 54px;
}

.slide .bar {
    position: absolute;
    left: 5px;
}

.slide .outro-bg {
    float: right;
    position: absolute;
    top: 5px;
    left: 54px;
    width: 625px;
}

.slide .k-g-activity-container {
    font-family: arial;
    position: absolute;
    top: 40px;
    left: 54px;
    width: 625px;
}

.icon {
    position: absolute;
    top: 379px;
    left: 5px;
}

.slide-title {
    font-family: curious;
    position: absolute;
    top: -20px;
    left: 65px;
    font-size: 29px;
}

.slide-desc {
    font-family: arial;
    font-size: 15px;
    position: absolute;
    top: 379px;
    left: 190px;
}

.activity {
    background-color: #FFF;
}

.outro {
    background-color: #f1f1ee;
}